<div class="titiel" style="
    display: flex;
    justify-content: center;
">
    <h1 class="titleR">
        Sin registros pendientes
    </h1>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/cargador/loader.js"></script>
<script src='/js/guardianCargadores.js'></script>
<script src="/js/vistaPreviaCargue.js"></script>