<input id="nameFile" name="nameFile" type="hidden" value={{this.nameFile}}>
<h4 style='text-align: center; margin-bottom: 2rem;'><i class='bx bxs-show'></i></i>Data del archivo</h4>

<div class='row'>

  <div class="col s12">

    <p style='text-align: center;'> <span style="font-weight: bold;">Archivo:</span> <b> <span id="nombreExcel"
          class="#388e3c  green-text text-darken-2">{{this.nombreExcel}}</span></b> </p>
  </div>
  <div class="col s12">
      <p style='text-align: center;'> <span style="font-weight: bold;">Cantidad de registros:</span>
        {{this.cantRegistros}}</p>
  </div>

  <div class="col s12 center-align lista_hojas" style="margin: 1rem;">
    <b>Hojas del archivo excel:</b>

    <ol>
      {{#each hojasExcel}}
      <li>{{this}}</li>
      {{/each}}
    </ol>
  </div>  
  <div class="col s12 center-align">
    <button id="btnCargue" class="btn #dd3542 blue darken-2 accent-4" type="button"
      style="margin-top: 2rem; font-weight: 600">Procesar excel<i class="bx bx-upload"></i></button>
  </div>




</div>
<script src='/js/cargador/vistaPreviaInsertR.js'></script>