<div class='row'>
  <div class='col s12 center'>
    <h3 style='margin-bottom: 2rem;'><i class='bx bx-window-close'></i> Página no encontrada</h3>
    <img class='img-404' src='/img/undraw_page_not_found_re_e9o6.svg' alt='Error 404' style='height: 60%;' />
  </div>
</div>