<div class="tarjetas">
  <div class="tarjeta" style="background-color: rgb(247, 181, 120);">
    <div class="cuerpo">
      <div>
        <span class="cantidadEstudiantes">0</span>
        <p>Estudiante</p>
      </div>
      <div>
        <img src="/img/barras.png" alt="">
      </div>

    </div>
    <div class="pie">
      <span href="#" id="infoEstudiante">Más información</span>
    </div>
  </div>
  <div class="tarjeta" style="background-color: rgb(131, 247, 120);">
    <div class="cuerpo">
      <div>
        <span class="cantidadProgramas">0</span>
        <p>Programas</p>
      </div>
      <div>
        <img src="/img/barras.png" alt="">
      </div>

    </div>
    <div class="pie">
      <span href="#" id="infoPrograma">Más información</span>
    </div>
  </div>
  <div class="tarjeta" style="background-color: rgb(139, 120, 247);">
    <div class="cuerpo">
      <div>
        <span class="cantidadMaterias">0</span>
        <p>Materias</p>
      </div>
      <div>
        <img src="/img/barras.png" alt="">
      </div>

    </div>
    <div class="pie">
      <span href="#" id="infoMateria">Más información</span>
    </div>
  </div>
</div>
<div id="contentGraficas">
  <div class="input-field col s12">
    <select id="selFiltro" class="select" onchange="updateChart()">
      <option value="" disabled selected>Choose your option</option>
    </select>
    <label>Filtro por programa</label>
  </div>
  <div class="chart-container">
    <canvas id="myChart"></canvas>
  </div>
</div>
<div class='col s12' style='margin-bottom: 4rem;'>
  <div id="contentTableE" style="display: none;">
    <table id='tablaEstudiante' class='striped centered responsive-table table-style'>
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Programa</th>
        </tr>
      </thead>
      <tbody id='bodyTablaE'>
      </tbody>
    </table>
  </div>
  <div id="contentTableP" style="display: none;">
    <table id='tablaPrograma' class='striped centered responsive-table table-style'>
      <thead>
        <tr>
          <th>Programa</th>
          <th>Ciclo</th>
        </tr>
      </thead>
      <tbody id='bodyTablaP'>
      </tbody>
    </table>
  </div>
  <div id="contentTableM" style="display: none;">
    <table id='tablaMateria' class='striped centered responsive-table table-style'>
      <thead>
        <tr>
          <th>registro Clase</th>
          <th>registro de catalogo</th>
          <th>Materia</th>
        </tr>
      </thead>
      <tbody id='bodyTablaM'>
      </tbody>
    </table>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
<script src='/js/reporting/reporting.js'></script>